p{
    color:red;
    font-size: 20px;
}

h1{
    color:blue
}
#doan2{
    color:chartreuse
}
.demo{
    color:blueviolet
}
.demo2{
    font-size: 50px;
}
.item_ul_1{
    /* Bỏ dấu chấm của list (list-style:none) */
    list-style:none;
}
.item_ol_1{
    list-style:none;
}