input:checked~img{
    /* 1.Nếu muốn biến mất khỏi giao diện */
    /* display:none;  */
    /* 2.Biến khỏi giao diện nhưng vẫn chiếm vị trí */
     /* visibility:hidden  */
    /* 3.Làm mờ tương tác được */
    opacity:0%; 
}
img{
    transition: 1.5s;
}